@import url('reset.css');

body { background: #fff; color: #000; font: normal normal normal 1.0em/1 arial, sans-serif; padding: 0.5em 2em; }

a, a:link, a:visited
	{ color: #8c1b1d; text-decoration: none; margin-bottom: 0.2em; }
a:hover, a:active
	{ border-bottom: 0.1em solid #8c1b1d; }

header, section
	{ margin-bottom: 2em; }

header { width: 60%; margin-left: auto; margin-right: auto; }
header h1 { font-size: 2.0em; text-align: center; margin-bottom: 0.3em; }
header h2 { font-size: 0.9em; font-style: italic; margin-top: 0.5em; }

.item { border: 1px solid silver; padding: 8px; margin-bottom: 1em; }
.item h4 { font-size: 1.4em; margin-bottom: 0.5em; }
.item .description { margin-bottom: 0.5em; }
.item .meta { background: #eee; padding: 8px; font-style: italic; font-size: 0.6em; }

.message { border: 2px solid; padding: 8px; margin: 8px auto; width: 80%; color: black; }
.message.failure { border-color: #cc0000; background-color: #fcc; }
.message.warning { border-color: gold; background-color: #ff9; }
.message.success { border-color: #060; background-color: #cfc; }
.message.new { border-color: #009; background-color: #e1e3fd; }
.message.note { border-color: #ccc; background-color: #eee; }